
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.banner{
  background: url("phone.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner h2{
  color: white;
  font-size: 15vh;
  padding-top: 130px;
  padding-left: 5vh;
  text-shadow: #222 5px 5px 5px ;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
  .banner{
    background: url("/phone.jpg");
  }
  .banner h2{
    font-size: 8vh;
  }


}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }

}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}
/* INICIO DA GALERIA */
.container-galeria{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-auto-rows: 300px;
  padding: 5px;
  grid-gap: 5px;
}

.container-galeria{
  background-image: url(./main.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #ff0d0dc9;
  padding: 2%;
}
.container-galeria img{
  padding:2%;
}

.item-galeria{
  position: relative;
  
}

.item-galeria .img-galeria{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;

}
.item-galeria .title-galeria{
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  left: 0;
  bottom: 0;
  width: 96%;
  color: white;
  margin: 2%;
  padding: 2%;
  font-size: 16pt;
  font-family: 'poppins';


  border-radius: 0px 0px 6.3px 6.3px;

}


.h-1{
  grid-row: span 1;
}

.h-2{
  grid-row: span 2;
}

.w-1{
  grid-column: span 1;
}

.w-2{
  grid-column: span 2;
}/* FINAL DA GALERIA */

@media(max-width:768px){
  .container-galeria{
      grid-template-columns: repeat(1,1fr);
      grid-auto-rows: 50vh;
  }

  .h-2{
      grid-row: span 1;
  }
  
  .w-2{
      grid-column: span 1;
  }
}

footer{
  padding: 5%;
 background-color: #222222; 
  width: 100%;
  text-align: center;
}
  footer img{
    width: 40px;
  }
  footer a{
    text-decoration: none;
    color: white;
    padding-left: 5%;
    font-size: 30px;
    display:inline-block;
  }
  #social br{
    display: none;
  }
hr {
  margin:5%;
}
.finalFooter{
  padding-top: 30px;
  font-weight: bolder;
  color: white;
  text-align: center;
  background-color: rgb(28, 28, 29);
  width: 100%;
  height: 100px;
}

.finalFooter p{
  font-size: 2vh;
}

.finalFooter p a{
  text-decoration: none;
  color: #f1f1f1;
}



@media (max-width: 1200px) {
  .footerOne{

     width: 100%;
    height: 300px;
   }
   .footerTwo{
    width: 100%;
    height: 300px;

   }
   .finalFooter{
     font-size: small;
   }
   #social br{
    display: block;
  }
}